@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400);

body {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-delay: 2s;
}

form {
  width: 500px;
  text-align: center;
  margin: auto;
  background: black;
  padding: 50px 0 5px 0;
  border-radius: 10px;
  height: 678px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttons-numbers {
  padding-top: 30px;
  child-align: middle;
}

.buttons-operators {
  padding-top: 15px;
}

.button {
  margin: 2px;
  background: #333;
  color: #FFF;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  line-height: 100px;
  border-radius: 100px;
}

.button:hover {
  opacity: 0.88;
}

.calculator-body {
  width: 500px;
  margin: auto;
}

.button-name-0 {
  width: 42%;
}

.buttons_style_operators {
  background: #fd9503;
  &.active {
    background: white;
    color: #fd9503;
  }
}

.buttons_style_manage {
  background: #a5a5a5;
}

.input {
  width: 95%;
  height: 150px;
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  font-size: 80px;
  font-weight: 100;
  text-align: right;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

.active {
  background-color: white;
}
