body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttons-numbers {
  padding-top: 30px;
  child-align: middle;
}
.buttons-operators {
  padding-top: 15px;
}

.button {
  margin: 0;
  background: #333;
  color: #FFF;
  width: 25%;
  display: inline-block;
  text-align: center;
}

.button_list {
  width: 72px;
  margin: auto;
}

.button-name-0 {
  width: 50%;
}
